@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header h1 {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  -webkit-box-shadow: 0px 2px 5px grey;
          box-shadow: 0px 2px 5px grey;
  padding: .5%;
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
}

.city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1%;
  background-color: #f3f3f3;
  padding: .1%;
}

.city i {
  font-size: 20px;
}

/* Explorer */
.explorer {
  text-align: center;
  background-color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}

.explorer button {
  color: white;
  font-weight: 300;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 120%;
  -webkit-box-shadow: 2px 1px 8px -3px #000;
          box-shadow: 2px 1px 8px -3px #000;
  border: none;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  cursor: pointer;
}

.explorer button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.9;
}

/* Fonctionnement */
.fonctionnements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5%;
}

.fonctionnement h2 {
  padding-left: 9%;
}

.liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-left: 3%;
  padding-right: 9%;
}

.number {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 3px 8px;
  margin-left: -58px;
}

/* Restaurants */
.restaurants {
  background-color: #f2f2f2;
}

.restaurants img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restaurants h2 {
  padding-left: 9%;
  padding-top: 2%;
}

.resto {
  border: 2px solid transparent;
  border-radius: 15px;
  background-color: white;
  width: 40%;
  margin: 10px;
  cursor: pointer;
}

.resto a {
  text-decoration: none;
  color: black;
}

.resto h3 {
  padding-left: 2%;
}

.resto p {
  padding-left: 2%;
}

.resto > i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 30px;
  position: absolute;
  left: 46%;
  top: 103%;
}

.list-resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Footer */
footer {
  display: -ms-grid;
  display: grid;
  background-color: #404040;
}

footer h2 {
  color: white;
  padding-left: 9%;
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 0;
}

footer a {
  color: white;
  text-decoration: none;
  padding-left: 6.5%;
}

footer li {
  list-style-type: none;
}

/* Page2 */
/* Image du menu */
.plat-image img {
  width: 100%;
  height: 540px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Menu */
.menu {
  background-color: #f2f2f2;
  width: 85%;
  height: 75%;
  margin: auto;
  padding-top: 1%;
  border-radius: 35px 35px 0 0;
  position: relative;
  top: -65px;
  margin-bottom: -65px;
}

.menu h2 {
  margin-left: 3%;
  font-family: "Shrikhand";
}

.conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: auto;
}

.entree {
  width: 30%;
  margin: auto;
}

.entree h3 {
  font-weight: 400;
  border-bottom: 3px solid green;
}

.choix {
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 2px 1px 8px -3px lightgray;
          box-shadow: 2px 1px 8px -3px lightgray;
  cursor: pointer;
}

.choix h4 {
  padding-top: 15px;
  padding-left: 4%;
  margin-bottom: 5px;
}

.choix p {
  text-overflow: ellipsis;
  margin-top: 0;
  padding-bottom: 15px;
  padding-left: 4%;
}

strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu button {
  color: white;
  padding: 12px 23px;
  border-radius: 50px;
  font-size: 120%;
  -webkit-box-shadow: 2px 1px 8px -3px #000;
          box-shadow: 2px 1px 8px -3px #000;
  border: none;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  cursor: pointer;
  margin: 4% 45%;
}

.menu button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.9;
}
/*# sourceMappingURL=style.css.map */